{% include "smj_app/includes.html" %}

{% block head_extra %}
<script type="text/javascript" src="/site_media/signin.js"></script>
{% endblock %}

{% block content %}

      <div id="regOptionBox">
      	<!--
        <div class="signInOption">
          <p>Sign in now with your Facebook account...</p>
          - facebook_button -
          <br/>
        </div>

        <hr>
-->
        <div class="signInOption">
          <br/>
		  <h3>Log In</h3>

          <form accept-charset="UTF-8"  method="" autocomplete="off" id="login-form" class="login" action="">
          {% csrf_token %}
		 	<div class="input-wrapper">	 
            	<label for="id_username">Username</label>
            	<input id="id_username" size="30" type="text" name="username">                          
          	</div>
			<div class="input-wrapper">	   
				<label for="id_password">Password</label>
            	<input id="id_password" size="30" type="password" name="password">
			</div>
		   <br>
			<input type='button' style="-moz-border-radius:5px; border-radius:5px; background-color:#99f; width:100px;" value="Log In" onclick="subs()"/>
            <div class="clear"></div>
          </form>
          <div class="prepend-top" id="forgotPassword">
            <h5>Forgot your password? <a href="{% url auth_password_reset %}">Reset it</a>!</h5>
            <h5>Not a member? <a href="{% url registration_register %}">Sign up</a>!</h5>
          </div>

        </div>

 
</div>
    <script language="JavaScript">

	function subs(){
		  $.post("/accounts/login/", $("#login-form").serialize(), function(){ window.parent.$.fancybox.close(); });	
    }
    </script>

{% endblock %}
