<!-- borrwed, with love, from Ian W. -->

{% block head_extra %}
{% include "smj_app/includes.html" %}

<script type="text/javascript" src="/site_media/signin.js"></script>

{% endblock %}

{% block content %}
<div id="content">
  


      <div id="regOptionBox">
        <div class="regOption" id="signupform">
          <br/>
          <h3>Create an account</h3>
		  
          <form accept-charset="UTF-8" class="login" id="login-form" method="post" autocomplete="off" action=".">
          {% csrf_token %}
		  	<div class="input-wrapper">	         
              <label for="username">Username</label>
              <input id="username" size="30" type="text" name="username">		
			</div>
            <div class="input-wrapper">
              <label for="email">Email Address</label>
              <input id="email" size="30" type="text" name="email">
            </div>
		
		
            <div class="input-wrapper">
              <label for="password1">Password</label>
              <input id="password1" size="30" type="password" name="password1">
            </div>
		
		
            <div class="input-wrapper">
              <label for="password2">Confirm Password</label>
              <input id="password2" size="30" type="password" name="password2">
            </div>
		
            <button type="submit" value="submit"/>Create Account</button>
            <div class="clear"></div>
          </form>
		  
        </div>
      </div>


 
</div>
{% endblock %}
