{% block content %}

<html lang="en">

<head>
	<title>Term Admin</Title>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
{% include "smj_app/includes.html" %} 
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

</head>

<div class="container">
	
{% include "smj_app/nav_header.html" %}

	<div class="span-8">
	</div>	
	
	<div class="span-8">
	</div>	
	
	<div class="span-8 last">
	</div>	
	
</div>  <!-- end container div -->

</html>
{% endblock %}