<html>

<head>
	<Title>Tweater Search</Title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
	{% include "smj_app/includes.html" %}
	
</head>

<div class="container">

{% include "smj_app/nav_header.html" %}

	<div class="span-8">
		<h3>About</h3>
		<div id="about">
			<p>smj_app is a project to re-rank search results in order to achieve a more directed search.</p>  
			<p>smj_app (name subject to change) will use key phrases, social check-ins, geocodes, and other criteria to determine which tweets are more "interesting" than others.</p>
			<P>This project was built by Samuel Jenning using, among other things, Django, the Tweepy API, Python registration, MySQL, and jQuery.  Sam doesn't want any criticism, so email praise only to sam jenning at gmail</P>
		</div>
	</div>
	
	<div class="span-8">
		<div id="list">
			<h3>Search Terms</h3>
			<a href="/smj_app/term/0" id="newterm"><img src="/site_media/Add-icon.png"/> &nbsp; Create a new term</a>
			
			<br><br>
			<b>Available Search Terms:</b>
			<br>
		{% if latest_search_list %}
		    
		    {% for SearchTerm in latest_search_list %}
		        <p>
				<a class="fakelink"><img src="/site_media/Delete-icon.png" id="del-{{ SearchTerm.id }}"/></a>
				<a href="/smj_app/term/{{ SearchTerm.id }}/" name="edit-{{ SearchTerm.id }}"><img src="/site_media/Edit-icon.png"/></a> &nbsp;
				<a href="/smj_app/admin/{{ SearchTerm.id }}/">{{ SearchTerm.phrase }}</a>
				</p>
	<script>
		$('#del-{{ SearchTerm.id }}').click(function() {
		var r=confirm("Delete SearchTerm?");
		if (r==true)
		{
        	var jqxhr = $.post("/smj_app/delst/{{ SearchTerm.id }}/", 
			function(data) { location.reload();   })
  			.success(function() {   })
  			.error(function() { alert("Could not delete"); })
  			.complete(function() {  });			
    	}
		
		});	
		
	</script>				
				
		    {% endfor %}
		    
		{% else %}
		    <p>No searches are available.</p>
		{% endif %}
		</div>
	</div>
	
	
	<div class="span-8 last">
		<h3>Instructions</h3>
		<li>Create SearchTerms using the link on the left</li>
		<li>Edit or delete a SearchTerm via the icons</li>
		<li>Click then name of a SearchTerm to view its results in Tweater</li>
		<li>On the results page, you can add and weight keywords to re-rank results</li>
	</div>	
</div>  <!-- end container div -->


<script type="text/javascript">
	$(document).ready(function() {
		$("#newterm").fancybox({
			'width'				: '30%',
			'height'			: '95%',
			'autoScale'			: true,
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'none',
			'type'				: 'iframe',
			'onClosed'			: function() {
								  parent.location.reload(true); }
		});
		$('a[name^="edit"]').fancybox({
			'width'				: '30%',
			'height'			: '95%',
			'autoScale'			: true,
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'none',
			'type'				: 'iframe',
			'onClosed'			: function() {
   								  parent.location.reload(true); }
		});
	});
</script>

</html>