{% block content %}		
	
	<!-- <a id="add_more2" class="fakelink"><img src="/site_media/Add-icon.png" width="12"/> Add New</a> -->
	<div id="add_more">
	<input type="button" style="background-repeat:no-repeat; width:25; height:25;  background-image: url(/site_media/Add-icon.png); background-color:#ddd; background-position-x:center; background-position-y:center;"/>
	<a class="fakelink">Add keyword</a>
	</div>
	<form id='kwform' action='/smj_app/keywords/{{ SearchTermID }}/' method='post'> {% csrf_token %}
	{{ formset.management_form }}
	<input type='submit' value='submit changes' id='submit'/>	
	<br>
	<h6>Keyword (or phrase) &nbsp; &nbsp; Weight</h6>
	{% for form in formset.forms %}
	<div class='table'>  
      	 	{{ form.id }}
       		{{ form.phrase }}
			{{ form.value }} 
			{{ form.SearchTermID.as_hidden }} 
			{{ form.DELETE.as_hidden }}
			<a class="fakelink"><img src="/site_media/Delete-icon.png" width="12" id="del-{{ form.id.value }}"/></a>
	</div>

	<script>
		$('#del-{{ form.id.value }}').click(function() {
		var r=confirm("Delete keyword?");
		if (r==true)
		{
        	var jqxhr = $.get("/smj_app/delkw/{{ SearchTermID }}/{{ form.id.value }}", 
			function() {    })
  			.success(function() {  })
  			.error(function() { alert("Could not delete. SearchTerm must have at least one keyword"); })
  			.complete(function() {  });			
    	}
		
		});	
		
	</script>

	{% endfor %}
	</form>
	
<script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'form');
    });
	
	$('#submit').click(function() { 
		$.getScript("https://github.com/malsup/form/raw/master/jquery.form.js?v2.43");				
        //alert("changes submitted");          
		//do more here		 
	});	
</script>

{% endblock %}

<script>
	function cloneMore(selector, type) {
    	var newElement = $(selector).clone(true);
    	var total = $('#id_' + type + '-TOTAL_FORMS').val();
	    newElement.find(':input').each(function() {
	        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
	        var id = 'id_' + name;
	        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');

			if (name.indexOf("SearchTermID") > 0)
			{
				$(this).attr({'value': {{ SearchTermID }} });
			}

	    });
	    newElement.find('label').each(function() {
	        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
	        $(this).attr('for', newFor);
	    });
	    total++;
	    $('#id_' + type + '-TOTAL_FORMS').val(total);
	    $(selector).after(newElement);
	}


</script>