{% block content %}
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
	<script type="text/javascript" src="/site_media/jquery.form.js"></script>
    <script language="JavaScript">

    function subs(){
	  $.post("/smj_app/termform/{{ id }}/", $("#termform").serialize(), function(){ window.parent.$.fancybox.close(); });
		
    }

    </script>
</head>
<form id='termform' action='' method='post'> {% csrf_token %}
	<input type='button' value='submit' onclick="subs()"/>
	<table>
	{{ form }}	
	</table>
</form>



{% endblock %}

	
