{% block content %}

<html lang="en">

<head>
	<title>Term Admin</Title>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
{% include "smj_app/includes.html" %} 
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

</head>

<div class="container">
	
{% include "smj_app/nav_header.html" %}

	<div class="span-8">
		
	<div id="TwitterSearch">			
			<form id='twsearch' action='' method=''> 
				{% csrf_token %}
				<input id="q" type="text" name="q"/>
				<input id="searchSubmit" type="submit" value="Search"/>
			</form>						
		<div id="RawSearch">
		</div>
	</div>
	
	</div>
	
	<div class="span-8">
		<div id="SearchResults">		
			<div id="RefreshButton">
				<input id="refreshTweater" type="submit" value="Refresh"/>
			</div>
			
				<div id="results"></div>
		</div>
	</div>
		
	<div class="span-8 last">
		<ul class="tabs">	
			<li><a href="#TermDetail" id="keywordtab">Keywords</a></li>		
			<li><a href="#SearchTerm" id="termtab">Term</a></li> 
		</ul>
		<div class="tab_container">
			<div class="tab_content">
				<div id="TermDetail">			
				</div>
			</div>
		</div>		
	</div>
	
</div>  <!-- end container div -->

<script>	
	
	$( document ).ready( function() 
	{
		
		$( '#results' ).load("/smj_app/search/" + {{ id }});
		$( '#TermDetail' ).load("/smj_app/edit/" + {{ id }});
		$( '#RawSearch' ).load("/smj_app/rawsearch/" + {{ id }});	 			
 
		$( '#kwform' ).live('click', function() { 
			$.getScript("/site_media/jquery.form.js")		
			$('#kwform').ajaxForm(function() { 
            	alert("changes submitted"); 
            	$( '#TermDetail' ).load("/smj_app/edit/" + {{ id }});
			});  
		});
		
		$( '#termform' ).live('click', function() { 
			$.getScript("/site_media/jquery.form.js")		
			$('#termform').ajaxForm(function() { 
           		alert("changes submitted"); 
            	$( '#TermDetail' ).load("/smj_app/edit/" + {{ id }} + "#SearchTerm");
			});   
		});
			
		$( '#twsearch' ).live('click', function() {	
			$.getScript("/site_media/jquery.form.js")	
			//on submit, hide current results, ajax post the search form, then render results to rawsearch div
			$('#twsearch').ajaxForm(function() {
				$( '#RawSearch' ).hide();
				$.post("/smj_app/rawsearch/0/", $("#twsearch").serialize(), function(data) { 
					$('#RawSearch').html(data);
					$( '#RawSearch' ).show() 
					});
			});
		});
		
		$( '#refreshTweater' ).click( function() {	
			$( '#results' ).hide();
			$( '#results' ).load("/smj_app/search/" + {{ id }}, function(){
				$('#results').show('slow');
				});
		});

		//Tab behavior
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content
	
		//On Click Event
		$("ul.tabs li").click(function() {
			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			
			$(".tab_content").hide(); //Hide all tab content
	
			var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab
			//determine what to load. not very elegant.
			if(activeTab == "#SearchTerm"){
				$( '#TermDetail' ).load("/smj_app/termform/" + {{ id }});
			} 
			else {
				$( '#TermDetail' ).load("/smj_app/edit/" + {{ id }});
			}
			$(activeTab).fadeIn(); //Fade in the active ID content
			//$( '#TermDetail' ).show('fast');
			$(".tab_content").show();
			return false;
		});
					
	});
	
</script>

</html>
{% endblock %}