{% block content %}
<head>
	{% include "smj_app/includes.html" %}

    <script language="JavaScript">

    function subs(){
	  $.post("/smj_app/managetodo/", $("#todoformset").serialize(), function(){ window.parent.$.fancybox.close(); });	
    }

    </script>
</head>
<form id='todoformset' action='' method='post'>	 {% csrf_token %}
	
	{{ formset.management_form }}
	<input type='button' value='submit' onclick="subs()"/>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th>Action</th>
			<th>Created By</th>
			<th>Created Date</th>
			<th>DELETE?</th>
		</tr>
	{% for form in formset.forms %}
	<tr height="30"> 				
		<td>{{ form.id }}</td>
		<td>{{ form.summary }}</td>
		<td>{{ form.type }}</td>
		<td>{{ form.status }}</td>
		<td>{{ form.action }}</td>
		<td>{{ form.createdby }}</td>
		<td>{{ form.createddate }}</td>
		<td>{{ form.DELETE }}</td>
	</tr>
	
	{% endfor %}
</table>
</form>



{% endblock %}

	
