{% block content %}

<head>
{% include "smj_app/includes.html" %}

</head>
<!-- see http://www.rkblog.rk.edu.pl/w/p/using-dhtmlxgrid-django-application/ for inspiration.. -->
	<table>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Type</th>
			<th>Status</th>
			<th>Action</th>
			<th>Created By</th>
			<th>Created Date</th>
		</tr>
	{% for item in todolist %}	
		<tr>
		<td>{{ item.id }}</td>
		<td width="200">{{ item.summary }}</td>
		<td>{{ item.get_type_display }}</td>
		<td>{{ item.get_status_display }}</td>
		<td width="200">{{ item.action }}</td>
		<td>{{ item.createdby }}</td>
		<td>{{ item.createddate }}</td>
		</tr>	
	{% endfor %}
	</table>
{% endblock %}

	
