<style>
		p{
			text-align: justify;
		}
		
		.fakelink{
			cursor: pointer;
	
		}
		
		.image {
			float: left;
			margin-left: 10px;
			margin-top: 5px;
			width: 50px;
			text-align: center;
			outline-style: dotted;
			
			z-index: 99;
		}

		.twitter_user {
			padding: 2px;
			margin-left: 0px;
			border-bottom: 1px solid #f1f1f1;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background-color: #FFE773;
			margin-bottom: 5px;
			height: 125px;			
		}
		
		.clearer {
			clear: both;
		}

		.tweet {
			margin-top: -5px;
			font-size: 10px;
			margin-left: 40px;
			margin-right: 40px;
			text-align: justify;	
		}
		
		.subhead {
			height: 85px;
			vertical-align: middle; 		
		}
		
		#RefreshButton {
			padding: 4px;
			height: 24px;
			vertical-align: middle; 		
		}
		
		.termitem {
			background: #FFE773;
			border:1px solid silver;
			vertical-align: middle;
			padding: 10px;					
		}
		.odd { background: #f0f0a0;	} 
		.termitem:hover { background-color:#f3f3f3;}
		
		/* from http://blog.stannard.net.au/2011/01/07/creating-a-form-with-labels-inside-text-fields-using-jquery/ */
		#regOptionBox {
			background-color:#eee;
			width:300px;
			padding:10px 20px;
			border:5px solid #ddd;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}		

		form.login,
		form.login input,
		form.login button {
			font-family: Helvetica, Arial;
			font-size:14px;
		}
		/* Make our title a bit bigger */
		form.login div.title {
			font-size:24px;
			font-weight:bold;
			margin-bottom:10px;
		}
		 
		/* Remove the bullets and padding from our list */
		form.login ul {
			list-style-type:none;
			padding:0;
			margin:0;
		}
		 
		/* Give our input fields a fixed width and a bit of padding */
		form.login input {
			width:280px;
			padding:5px;
			margin-bottom:10px;
			border-radius: 5px;
		}
		/* Make each field container relative.
		This lets us position the label absolutely inside it. */
		form.login ul li {
			position:relative;
		}
		 
		/* Position the labels inside our input fields. */				
		form.login label {
			color: #888;
			font-size: 1.1em;
			font-weight: lighter;
			line-height: 54px;
			margin: -5px 0px 0px 11px;
			position: absolute;
			z-index: 1;
		}


		/* -- jquery tabs --*/			
		ul.tabs {
			margin: 0;
			padding: 0;
			float: left;
			list-style: none;
			height: 32px; /*--Set height of tabs--*/
			border-bottom: 1px solid #999;
			border-left: 1px solid #999;
			border-top-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			width: 100%;
		}
		ul.tabs li {
			float: left;
			margin: 0;
			padding: 0;
			height: 31px; /*--Subtract 1px from the height of the unordered list--*/
			line-height: 31px; /*--Vertically aligns the text within the tab--*/
			border: 1px solid #999;
			border-left: none;
			margin-bottom: -1px; /*--Pull the list item down 1px--*/
			overflow: hidden;
			position: relative;
			background: #ddd;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
		}
		
		ul.tabs li a {
			text-decoration: none;
			color: #000;
			display: block;
			font-size: 1.2em;
			padding: 0 20px;
			border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
			outline: none;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
		}
		
		ul.tabs li a:hover {
			background: #ccc;
		}
					
		html .tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
			background: #fff;
			border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/

		}
		
		.tab_container {
			border: 1px solid #999;
			border-top: none;
			overflow: hidden;
			clear: both;
			float: left; width: 100%;
			background: #fff;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			-moz-border-radius-bottomleft: 10px;
			-moz-border-radius-bottomright: 10px;
		}
		.tab_content {
			padding: 5px;
			font-size: 1.2em;
		}
		
		/* -- styling for dynamic jquery forms  --*/
		#add_more {			
			width: 125px;
			z-index: 88;
			vertical-align: baseline;
			border: 1px solid #999;		
			}
		#add_more:hover { background-color:#f3f3f3;}
		
		/*-- listnav --*/
		/* default styling example */

		.listNav { margin:0 0 10px; }
		
		.ln-letters { overflow:hidden; }
		.ln-letters a { font-size:0.9em; display:block; float:left; padding: 2px 5px; width:19px; border:1px solid silver;  text-decoration:none; }
		.ln-letters a.ln-last { border-right:1px solid silver; }
		.ln-letters a:hover,
		.ln-letters a.ln-selected { background-color:#eaeaea; }
		.ln-letters a.ln-disabled { color:#ccc; }
		.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }			
</style>