<html>

<head>
	<Title>Tweater Search</Title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
	<script type="text/javascript" src="/site_media/jquery.form.js"></script> 	
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script> 
 
	
{% include "TweaterSearch/style.css" %}
	<link rel="stylesheet" href="/site_media/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/site_media/blueprint/print.css" type="text/css" media="print">
</head>
<div id="about">
<p>TweaterSearch is a project to re-rank search results in order to achieve a more directed search.</p>  
<p>TweaterSearch (name subject to change) will use key phrases, social check-ins, geocodes, and other criteria to determine which tweets are more "interesting" than others.</p>
<P>This project was built by Samuel Jenning using, among other things, Django, the Tweepy API, Python registration, MySQL, and jQuery.  Sam doesn't want any criticism, so email praise only to sam jenning at gmail</P>
</div>

<div id="list">
	<h3>Search Terms</h3>
	<a href="/TweaterSearch/term/0">Create a new term</a>
	<br><br>
	<b>Available Search Terms:</b>
{% if latest_search_list %}
    <ul>
    {% for SearchTerm in latest_search_list %}
        <li><a href="/TweaterSearch/admin/{{ SearchTerm.id }}/">{{ SearchTerm.phrase }}</a>
		|| <a href="/TweaterSearch/term/{{ SearchTerm.id }}/">edit</a>
		<!-- replace edit text with icon -->
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No searches are available.</p>
{% endif %}
</div>



</html>