{% block content %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
	<script type="text/javascript" src="/site_media/jquery.form.js"></script> 	


	<div id="add_more"><input type="image" src="/site_media/Add-icon.png" value="Add More" id="add_more"><a>Add</a><br></div>
	<form id='theform' action='/TweaterSearch/keywords/{{ SearchTermID }}/' method='post'> {% csrf_token %}
	{{ formset.management_form }}
	<input type='submit' value='submit' id='submit'/>	

	{% for form in formset.forms %}
	<div class='table'>
    <table class='no_error'>
       <table>
       	{{ form.id }}
       		{{ form.phrase }} &nbsp; {{ form.value }}
			{{ form.SearchTermID.as_hidden }} 
			{{ form.DELETE.as_hidden }}
			<input type="image" src="/site_media/Delete-icon.png"/>
       </table>
    </table>
	</div>
	{% endfor %}
	</form>
	
<script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'form');
    });
	
	$( '#twsearch' ).live('click', function() {	
			$.getScript("https://github.com/malsup/form/raw/master/jquery.form.js?v2.43")	
			//on submit, hide current results, ajax post the search form, then render results to rawsearch div
			$('#twsearch').ajaxForm(function() {
				$( '#RawSearch' ).hide();
				$.post("/TweaterSearch/rawsearch/0/", $("#twsearch").serialize(), function(data) { 
					$('#RawSearch').html(data);
					$( '#RawSearch' ).show() 
					});
			});
		});

	
</script>


{% endblock %}

<script>
	function cloneMore(selector, type) {
    	var newElement = $(selector).clone(true);
    	var total = $('#id_' + type + '-TOTAL_FORMS').val();
	    newElement.find(':input').each(function() {
	        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
	        var id = 'id_' + name;
	        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');

			if (name.indexOf("SearchTermID") > 1)
			{
				$(this).attr({'value': {{ SearchTermID }} });
			}
	    });
	    newElement.find('label').each(function() {
	        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
	        $(this).attr('for', newFor);
	    });
	    total++;
	    $('#id_' + type + '-TOTAL_FORMS').val(total);
	    $(selector).after(newElement);
	}


</script>