<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-size: 80%;
			background-color: #eee;
		}
		#wrap {
			width: 800px;
			margin: 0em left;
			line-height: 1.6;
			font-family: Helvetica, Arial, sans-serif;
		}
		#header {
			background: #111;
			color: white;
		}
		#header, #content {
			padding: 10px;
		}
		#SearchResults {
			position: absolute;
			left: 400px;
			top: 20px;
			width: 354px;
			background: yellow;
		}
		#refreshTweater {
			position: absolute;
			left: 400px;
			top: 0px;
			width: 354px;
			background: yellow;
		}
		#RawSearch {
			position:absolute;
			left: 0px;
			top: 20px;
			width: 354px;
			margin: 0em left;
			background-color: #ccc;
		}
		#TwitterSearch {
			position:absolute;
			left: 0px;
			top: 0px;
			width: 354px;
			margin: 0em left;
			background-color: #ccc;
		}
		#tabs {
			position:absolute;
			right: 0px;
			top: 20px;
			width: 300px;
			margin: 0em right;
			background: green;
		}
		#TermDetail {
			position:absolute;
			right: 0px;
			top: 20px;
			width: 300px;
			margin: 0em right;
			background: green;
		}
		#navigation {
			position:absolute;
			right: 200px;
			top: 20px;
			width: 300px;
			margin: 0em right;
			background: #a23;
		}
		#spinner {
 			 display: none;
  			position: relative;
		}
		h1 {
			font-family: Georgia;
			font-weight: 100;
			font-style: italic;
			font-size: 30px;
			padding-top: 10px;
		}

		.auth {
			font-size: 30px;
			color: white;
			background: #222;
			padding: 25px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		.auth:hover {
			background: #000;
		}

		.odd {
			background: #f3f3f3;
		}

		ul {
			list-style: none;
		}

		dl {
			width: 280px;
			float: left;
			margin-left: 50px;
		}
		dt {
			float: left;
			width: 100px;
			text-transform: uppercase;
			font-weight: bold;
		}
		dd {
			float: right;
			width: 280px;
			color: #666;
			text-align: left;
		}

		.image {
			float: left;
			margin-right: 2px;
			margin-top: 5px;
			width: 10px;
			text-align: center;
		}
		.twitter_user {
			padding: 2px;
			margin-left: 0px;
			border-bottom: 1px solid #f1f1f1;
			width: 350px;
			height: 100px;
		}
		.clearer {
			clear: both;
		}

		h2 {
			font-size: 24px;
			margin-top: 1px;
			color: #0b73de;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 1.5em;
		}
</style>