{% block content %}

<html lang="en">
<title>Term Admin</Title>
 
<head>
 <!-- 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
 	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
	<script type="text/javascript" src="/site_media/jquery.form.js"></script> 	
{% include "TweaterSearch/style.css" %}
</head>
<div id="SearchResults">
	<input id="q" type="text"/>
	<input id="searchSubmit" type="submit" value="Search"/>
	<br/>
	<div class="margin">
		<div id="results">result area</div>
	</div>
</div>

<div id="TermDetail">
term detail goes here
</div>
<div id="RawSearch">
raw search results go her
</div>

<div id="RefreshButton">
toss in a refresh button to refresh results without fully reloading page
</div>

<script>	
	$( document ).ready( function() 
	{
		$( '#searchSubmit' ).click( function() {
		q = $( '#q' ).val();		
		$( '#results' ).load("/TweaterSearch/search/" + q);
		$( '#TermDetail' ).load("/TweaterSearch/edit/" + q);
		$( '#RawSearch' ).load("/TweaterSearch/rawsearch/" + q);	 
		});
		$( '#theform#' ).live('click', function() { 
			showValues();
			$.getScript("https://github.com/malsup/form/raw/master/jquery.form.js?v2.43")
			
			$('#theform').ajaxForm(function() { 
            alert("Thank you for your comment!"); 
            $( '#TermDetail' ).load("/TweaterSearch/edit/" + q);
			});   
		});	
			
	});
	
		function showValues(){
			var str = $( '#theform' ).serialize();
			$("#serialz").text(str);
		}

	</script>
</html>
{% endblock %}