{% block content %}

<html lang="en">
<title>Term Admin</Title>
 
<head>
 <!-- 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
 	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
	<script type="text/javascript" src="/site_media/jquery.form.js"></script> 	
{% include "TweaterSearch/style.css" %}
</head>

<div id="SearchResults">
	<div class="margin">
		<div id="results">result area</div>
	</div>
</div>


<div id="TermDetail">

</div>

<div id="TwitterSearch">
	<input id="q" type="text"/>
	<input id="searchSubmit" type="submit" value="Search"/>
</div>

<div id="RawSearch">

</div>

<div id="RefreshButton">
	<input id="refreshTweater" type="submit" value="Refresh"/>
</div>

<script>	
	$( document ).ready( function() 
	{
		
		$( '#results' ).load("/TweaterSearch/search/" + {{ id }});
		$( '#TermDetail' ).load("/TweaterSearch/edit/" + {{ id }});
		$( '#RawSearch' ).load("/TweaterSearch/rawsearch/" + {{ id }});	 		

		$( '#theform#' ).live('click', function() { 
			$.getScript("https://github.com/malsup/form/raw/master/jquery.form.js?v2.43")		
			$('#theform').ajaxForm(function() { 
            alert("changes submitted"); 
            $( '#TermDetail' ).load("/TweaterSearch/edit/" + {{ id }});
			});   
		});
						
		$( '#searchSubmit' ).click( function() {	
			//this needs to actually read the term in the search box
			$( '#RawSearch' ).hide();
			$( '#RawSearch' ).load("/TweaterSearch/rawsearch/" + {{ id }}, function(){
				$('#RawSearch').show('slow'); 
				});	
		});
		$( '#refreshTweater' ).click( function() {	
			//this needs to actually read the term in the search box
			$( '#results' ).hide();
			$( '#results' ).load("/TweaterSearch/search/" + {{ id }}, function(){
				$('#results').show('slow');
				});
		});
	});
	
		function showValues(){
			var str = $( '#theform' ).serialize();
			$("#serialz").text(str);
		}

	</script>
</html>
{% endblock %}