{% block content %}
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>

    <script language="JavaScript">

    function subs(){
	  $.post("/TweaterSearch/addtodo/", $("#todoform").serialize(), function(){ window.parent.$.fancybox.close();  });
		
    }

    </script>
</head>
<form id='todoform' action='' method='post'> {% csrf_token %}
	<input type='button' value='submit' onclick="subs()"/>
	<table>
	{{ form }}	
	</table>
</form>

{% endblock %}

	
