	<div class="span-24 last">
		<div class="subhead">
			<img src="/site_media/hedline.gif"/><br>
			<a href="/TweaterSearch/">home</a> ||
			<a href="/TweaterSearch/about/">about</a> ||		
			<a href="/TweaterSearch/contact/">contact</a> ||
			<a href="/TweaterSearch/viewtodo/"  name="todolist">to do</a> ||
			<a href="/TweaterSearch/addtodo/" id="todoform" name="todoform">add todo</a>
		</div>
	</div>
	
	<script>	
	
	$( document ).ready( function() 
	{
		
		
		//fancybox links
		$('a[name="todoform"]').fancybox({
			'width'				: '35%',
			'height'			: '25%',
			'autoScale'			: true,
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
		});
			
		$('a[name="todolist"]').fancybox({
			'width'				: '90%',
			'height'			: '90%',
			'autoScale'			: true,
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
		});
			
	});
	
</script>